<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>

  <!-- ================== Collections of Servlets and Mappings ========================= -->
  <!-- Core Servlets -->
  <servlet>
    <servlet-name>CoreServlet</servlet-name>
    <servlet-class>com.sync.core.servlet.CoreServlet</servlet-class>
     <init-param>
        <param-name>dbDriver</param-name>
        <param-value>com.mysql.jdbc.Driver</param-value>
     </init-param>
      <init-param>
        <param-name>dbPath</param-name>
        <param-value>jdbc:mysql://localhost:3306/ninku</param-value>
     </init-param>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>CoreServlet</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>MasterServlet</servlet-name>
    <servlet-class>com.sync.master.servlet.Master</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MasterServlet</servlet-name>
    <url-pattern>/index/master</url-pattern>
  </servlet-mapping>
    
  <servlet>
    <servlet-name>TransServlet</servlet-name>
    <servlet-class>com.sync.trans.servlet.Transaction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TransServlet</servlet-name>
    <url-pattern>/index/trans</url-pattern>
  </servlet-mapping>
    
  <servlet>
    <servlet-name>PublicServlet</servlet-name>
    <servlet-class>com.sync.home.servlet.Public</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicServlet</servlet-name>
    <url-pattern>/index/public</url-pattern>
  </servlet-mapping>
  <!-- ==================== Default Session Configuration ================= -->
  <!-- You can set the default session timeout (in minutes) for all newly   -->
  <!-- created sessions by modifying the value below.                       -->

  <session-config>
    <session-timeout>60</session-timeout>
  </session-config>

  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
  </welcome-file-list>

</web-app>
