<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>

  <!-- ================== Collections of Servlets and Mappings ========================= -->
  <!-- Core Servlets -->
  <servlet>
    <servlet-name>CoreServlet</servlet-name>
    <servlet-class>com.sync.core.servlet.CoreServlet</servlet-class>
     <init-param>
        <param-name>dbDriver</param-name>
        <param-value>com.mysql.jdbc.Driver</param-value>
     </init-param>
      <init-param>
        <param-name>dbPath</param-name>
        <param-value>jdbc:mysql://localhost:3306/ninku</param-value>
     </init-param>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>CoreServlet</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>MasterServlet</servlet-name>
    <servlet-class>com.sync.master.servlet.Master</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MasterServlet</servlet-name>
    <url-pattern>/index/master</url-pattern>
  </servlet-mapping>
    
  <servlet>
    <servlet-name>TransServlet</servlet-name>
    <servlet-class>com.sync.trans.servlet.Transaction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TransServlet</servlet-name>
    <url-pattern>/index/trans</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ReportServlet</servlet-name>
    <servlet-class>com.sync.report.servlet.Report</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReportServlet</servlet-name>
    <url-pattern>/index/report</url-pattern>
  </servlet-mapping>
    
  <servlet>
    <servlet-name>Home</servlet-name>
    <servlet-class>com.sync.home.servlet.Public</servlet-class>
    <init-param>
      <param-name>w</param-name>
      <param-value>home</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
    
  <servlet>
    <servlet-name>About</servlet-name>
    <servlet-class>com.sync.home.servlet.Public</servlet-class>
    <init-param>
      <param-name>w</param-name>
      <param-value>about</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>About</servlet-name>
    <url-pattern>/about</url-pattern>
  </servlet-mapping>
    
  <servlet>
    <servlet-name>News</servlet-name>
    <servlet-class>com.sync.home.servlet.Public</servlet-class>
    <init-param>
      <param-name>w</param-name>
      <param-value>news</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>News</servlet-name>
    <url-pattern>/news</url-pattern>
  </servlet-mapping>
    
  <servlet>
    <servlet-name>Gallery</servlet-name>
    <servlet-class>com.sync.home.servlet.Public</servlet-class>
    <init-param>
      <param-name>w</param-name>
      <param-value>gallery</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Gallery</servlet-name>
    <url-pattern>/gallery</url-pattern>
  </servlet-mapping>
    
  <servlet>
    <servlet-name>Contact</servlet-name>
    <servlet-class>com.sync.home.servlet.Public</servlet-class>
    <init-param>
      <param-name>w</param-name>
      <param-value>contact</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Contact</servlet-name>
    <url-pattern>/contact</url-pattern>
  </servlet-mapping>
  
  
  <!-- ==================== Default Session Configuration ================= -->
  <!-- You can set the default session timeout (in minutes) for all newly   -->
  <!-- created sessions by modifying the value below.                       -->

  <session-config>
    <session-timeout>60</session-timeout>
  </session-config>

  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
  </welcome-file-list>

</web-app>
